// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// ==========
.cart {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 5px;
    padding:20px;
    margin-top: 40px;
    z-index: 2;
    position: relative;
    z-index: 2;
    background: white;
}

.cart-page {
   background-image: url("https://image.freepik.com/free-psd/abstract-background-design_1297-82.jpg");
}

.gift-box {
    padding: 20px;
    margin: 20px;
    transition: transform .2s;
    border:1px solid lightcoral;
    border-radius: 10px;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 5px;
        transform: scale(1.1);
        border-radius: 10px;
    }
    .name {
        font-weight: bold;
        color: black;
        font-size: 16px;
    }
}
